<h1> <%= @category.name %> </h1>

<%= link_to edit_category_path(@category), class: "btn btn-default edit" do %>
  <span class="glyphicon glyphicon-edit"></span>
 <% end %>

<%= link_to category_path(@category), method: 'delete', class: "btn btn-default delete" do %>
  <span class="glyphicon glyphicon-trash"></span>
<% end %>

<% @category.ideas.each do |idea| %>
  <p><%= idea.title %></p>
  <p><%= idea.body %></p>
<% end %>
