<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  </head>

  <header>
    <%= render partial: 'layouts/navigation' %>
  </header>

  <body>
    <div class="format">
      <p class="flash"><%= flash.notice %></p>
      <%= yield %>
    </div>
  </body>

</html>
